<!-- <p>sidebar works!</p> -->
<br>
<div class="col-auto col-md-3 col-xl-2 px-sm-5 px-0 bg-light">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-60">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="" style="color: black;">Bienvenue Commander Livrer</span>
            <span class="" style="color: black;">Commander + livrer chez vous sans vous souciez</span>
            <span class="" style="color: black;">Le meuilleur prix chez nous</span>
        </a>

        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

            <li class="nav-item">

                <a href="#" class="nav-link align-middle px-0">

                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">phone</span>

                </a>

            </li>

            <li class="nav-item">

                <a href="#" class="nav-link align-middle px-0">

                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Sheo</span>

                </a>

            </li>

            <li class="nav-item">

                <a href="#" class="nav-link align-middle px-0">

                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Clothe</span>

                </a>

            </li>

            <li class="nav-item">

                <a href="#" class="nav-link align-middle px-0">

                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Television</span>

                </a>

            </li>

            <li class="nav-item">

                <a href="#" class="nav-link align-middle px-0">

                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Computer</span>

                </a>

            </li>

            <li class="nav-item">

                <a href="#" class="nav-link align-middle px-0">

                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Laptop</span>

                </a>

            </li>

            <li class="nav-item">

                <a href="#" class="nav-link align-middle px-0">

                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Accessories</span>

                </a>

            </li>

            <li class="nav-item">

                <a href="#" class="nav-link align-middle px-0">

                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Watch</span>

                </a>

            </li>                    

            <li>

                <a href="#" class="nav-link px-0 align-middle">

                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Bag</span>

                </a>

            </li>

            <li>

                <a href="#" class="nav-link px-0 align-middle">

                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Beauty</span>

                </a>

            </li>

        </ul>

        <hr>

    </div>

</div>



  <!-- <div class="container-fluid">

    <div class="row flex-nowrap">

        <div class="col-auto col-md-3 col-xl-2 px-sm-5 px-0 ">

            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-60">

                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">

                    <span class="fs-5 d-none d-sm-inline">Categories</span>

                </a>

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

                    <li class="nav-item">

                        <a href="#" class="nav-link align-middle px-0 text-white">

                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">phone</span>

                        </a>

                    </li>

                    <li class="nav-item">

                        <a href="#" class="nav-link align-middle px-0 text-white">

                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Sheo</span>

                        </a>

                    </li>

                    <li class="nav-item">

                        <a href="#" class="nav-link align-middle px-0 text-white">

                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Clothe</span>

                        </a>

                    </li>

                    <li class="nav-item">

                        <a href="#" class="nav-link align-middle px-0 text-white">

                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Television</span>

                        </a>

                    </li>

                    <li class="nav-item">

                        <a href="#" class="nav-link align-middle px-0 text-white">

                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Computer</span>

                        </a>

                    </li>

                    <li class="nav-item">

                        <a href="#" class="nav-link align-middle px-0 text-white">

                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Laptop</span>

                        </a>

                    </li>

                    <li class="nav-item">

                        <a href="#" class="nav-link align-middle px-0 text-white">

                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Accessories</span>

                        </a>

                    </li>

                    <li class="nav-item">

                        <a href="#" class="nav-link align-middle px-0 text-white">

                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Watch</span>

                        </a>

                    </li>                    

                    <li>

                        <a href="#" class="nav-link px-0 align-middle text-white">

                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Bag</span>

                        </a>

                    </li>

                    <li>

                        <a href="#" class="nav-link px-0 align-middle text-white">

                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Beauty</span>

                        </a>

                    </li>

                </ul>

                <hr>

            </div>

        </div>
    </div>
</div> -->